body{
    background-color: black
    ;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper div{
    width: 200px;
    background-color: brown;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1240px){
 
    body{
        background-color: yellow
        ;
    }
    .wrapper{
        flex-wrap: wrap;
        gap: 20px;
    }

    .wrapper div{
        background-color: blue;
        width: 30%;
    }
}
@media (max-width:1070px){
 
    body{
        background-color: red
        ;
    }
    

    .wrapper div{
        background-color: black;
        width: 30%;
    }
}

@media (max-width:920px){
 
    body{
        background-color: yellow
        ;
    }
    

    .wrapper div{
        background-color: blue;
        width: 30%;
    }
}

@media (max-width:760px){
 
    body{
        background-color: purple
        ;
        padding: 50px;
    }
    

    .wrapper div{
        background-color: orange;
        width: 47%;
    }
}

@media (max-width:500px){     

    .wrapper div{
        background-color: orange;
        width: 100%;
    }
}